.container
{
	width: 960px;
	display: block;
	float: left;
	
}

.cell 
{
	float: left;
	height: 100px;
	width: 100px;
	border: 1px solid black;
	border-radius: 10%;
	display: inline-block;
	opacity: .2;
}

.black
{
	background-color: black;
	opacity: 1;
}

button
{
	float: clear;
	display: block;
}
